%% -*- erlang -*-

{deps,
 [{lfe,
   {git, "git://github.com/rvirding/lfe",
    {branch, "develop"}}},
  {ltest,
   {git, "git://github.com/lfex/ltest.git",
    {branch, "master"}}},
  {elli,
   {git, "git://github.com/knutin/elli.git",
    {tag, "v1.0.5"}}},
  {elli_websocket,
   {git, "git://github.com/mmzeeman/elli_websocket.git",
    {branch, "master"}}},
  {elli_fileserve,
   {git, "git://github.com/yurrriq/elli_fileserve.git",
    {branch, "master"}}}]}.

{plugins,
 [{'lfe-compile',
   {git, "git://github.com/lfe-rebar3/compile.git",
    {branch, "master"}}}]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.

{lodox,
 [{apps,
   [{'{{name}}',
     [{'source-uri',
       "https://github.com/yurrriq/chat-demo/blob/master/{filepath}#L{line}"}]}]}]}.

{relx, [
  {release, {chat_demo, "0.0.2"}, [chat_demo]},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true},
  {sys_config, "./config/sys.config"}
]}.

{profiles, [
  {prod, [
    {relx, [
      {dev_mode, false},
      {include_src, false},
      {include_erts, true}
    ]}
  ]}
]}.
