%% -*- erlang -*-

{deps, [
  {lfe, "1.2.0"},
  {elli, "2.0.1"},
  {elli_fileserve,
   {git, "git://github.com/elli-lib/elli_fileserve.git",
    {branch, "master"}}},
  {elli_websocket,
   {git, "git://github.com/elli-lib/elli_websocket.git",
    {branch, "master"}}}
]}.

{plugins, [
  {rebar_prv_lfe,
   {git, "git://github.com/yurrriq/rebar_prv_lfe.git",
    {tag, "0.2.0"}}}
]}.

{provider_hooks, [
  {pre, [
    {app_compile, {lfe, compile}}
  ]}
]}.

{relx, [
  {release, {chat_demo, "0.0.2"}, [chat_demo]},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true},
  {sys_config, "./config/sys.config"}
]}.

{profiles, [
  {prod, [
    {relx, [
      {dev_mode, false},
      {include_src, false},
      {include_erts, true}
    ]}
  ]}
]}.
